/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 dic 2022, 13:05:13
    Author     : ismael
*/

Button{
    -fx-background-color: #fbd702;
    -fx-text-fill: #131313;
     /*-fx-font-Size:30;*/
}
.Cssboton{
     -fx-font-family: "Harrington";
     -fx-font-Size:14;
         
}