/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 17 feb 2023, 20:11:29
    Author     : nuria
*/


/*TITULOS PRINCIPALES GRADIAN*/
.CssLabelPrincipal{
    -fx-text-fill: linear-gradient(from 60.5678% 38.8013% to 60.5678% 55.836%,#c0c0c0, #00587e);
    -fx-font-family:"Harrington";
    -fx-font-Size:55;
}
.CssAsignaturas{
    -fx-font-family:"Harrington";
    -fx-font-Size:25;
    /*-fx-text-fill: linear-gradient(from 60.5678% 38.8013% to 60.5678% 55.836%,#dbab29, #c90909);*/
    -fx-text-fill: #00587e;/*cambiar */
}
.CssAsignaturasImagen{
    -fx-font-family:"Harrington";
    -fx-font-Size:20;
    /*-fx-text-fill: linear-gradient(from 60.5678% 38.8013% to 60.5678% 55.836%,#dbab29, #c90909);*/
    -fx-text-fill: #00587e;/*cambiar*/

}
.CsslabelPanelTareas{
    -fx-font-family:"Harrington";
    -fx-font-Size:17;
    -fx-text-fill: #00587e;/*cambiar*/
}
.CsslabelPanelNotas{
    -fx-font-family:"Harrington";
    -fx-font-Size:22;
    -fx-text-fill: #00587e;/*cambiar*/
}
.CsslabelPanelconfiguracion{
    -fx-font-family:"Harrington";
    -fx-font-Size:26;
    -fx-text-fill:#00587e;/*cambiar*/
}
.CsslabelSeleccionAsignaturas{
    -fx-font-family:"Harrington";
    -fx-font-Size:25;
    -fx-text-fill: #00587e;/*cambiar*/
}
.table-view .column-header .label{
    -fx-text-fill:black;
    -fx-font-family:"Harrington";
    -fx-font-Size:21;
}
.table-cell{
    -fx-font-Size:17;
    -fx-text-fill:black;
    -fx-font-family:"Harrington";
}
.combo-box{
    -fx-font-Size:15;
    -fx-text-fill:black;
    -fx-font-family:"Harrington";

}
/*Text{ dar formato al login
    -fx-font-family:"Harrington";
    -fx-font-Size:14;

}*/
.tab {
    -fx-font-size: 20;
    -fx-font-family:"Harrington";
}
.CssLabelPlaning{
    -fx-font-family:"Harrington";
    -fx-font-Size:30;
    -fx-text-fill: #00587e;/*cambiar*/

}
.CssSalacomun{
    -fx-font-family:"Harrington";
    -fx-font-Size:18;
    -fx-text-fill: #00587e;/*cambiar*/
}
.CsslabelGuardarCambiosTareas{
    -fx-font-family:"Harrington";
    -fx-font-Size:18;
    /*-fx-text-fill: linear-gradient(from 60.5678% 38.8013% to 60.5678% 55.836%,#dbab29, #c90909);*/
    -fx-background-color: #00587e;/*cambiar*/
    -fx-text-fill: #c0c0c0;

}
/*{
    -fx-font-family:"Harrington";
    -fx-font-size: 12;
    -fx-background-color: #c90909;
    -fx-text-fill: #dbab29;
}*/

.cssmas{

    -fx-font-size: 12;
    -fx-background-color: #00587e;/*cambiar*/
    -fx-text-fill: #c0c0c0;
}

.CssMensajeria{
    -fx-font-family:"Harrington";
    -fx-font-size: 16;
    -fx-background-color: #00587e;/*cambiar*/
    -fx-text-fill: #c0c0c0;
}

.CssGuardarConfiguracion{
    -fx-font-family:"Harrington";
    -fx-font-size: 25;
    -fx-background-color: #00587e;/*cambiar*/
    -fx-text-fill: #c0c0c0;
    -fx-background-radius: 10;
    
}
.Cssbar .bar{
    -fx-background-color: #00587e;/*cambiar*/

}
.CssguardarCambiosTareas{
    -fx-font-family:"Harrington";
    -fx-font-size: 25;
    -fx-background-color: #00587e;/*cambiar*/
    -fx-text-fill: #c0c0c0;
    -fx-background-radius: 10;
}
.CsscambiarImagenConfiguracion{
    -fx-font-family:"Harrington";
    -fx-font-size: 15;
    -fx-background-color: #00587e;/*cambiar*/
    -fx-text-fill: #c0c0c0;
    -fx-background-radius: 10;
}