/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 feb 2023, 19:48:35
    Author     : nuria
*/

/*menu lateral rojo*/
.CssLateral{

    -fx-font-family:"Harrington";
    -fx-font-Size:30;
    -fx-background-color: #c90909;/*rojo*/
    -fx-text-fill: #dbab29;/*amarilloG*/
    /*    -fx-text-fill: linear-gradient(from 60.5678% 38.8013% to 60.5678% 55.836%,#131313, #fbd702);*/
}
.CssSalir{
    -fx-background-color: #c90909;
    -fx-text-fill: #dbab29;
    -fx-font-family:"Harrington";
    -fx-font-Size:14;

}
