/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 dic 2022, 13:05:46
    Author     : ismael
*/

Button{
    -fx-background-color: #c90909;/*rojo*/
    -fx-text-fill: #dbab29;/*amarilloG*/
    /*-fx-font-Size:30;*/
   
}
.Cssboton{
    -fx-font-family: "Harrington";
    -fx-font-Size:14;

}
